//////////// Loader  ////////////

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/images/M6.jpg);
  background-size: 501px;
  height: 100vh;
}

// @media (max-width: 576px) {
//   header {
//     font-size: 15px;
//     .img1 {
//       height: 40px;
//     }
//     .img2 {
//       height: 40px;
//     }
//   }
//   .home-container {
//     img {
//       width: 125px;
//       height: 190px;
//     }

//     .containereffect1,
//     .containereffect2 {
//       width: 125px;
//       height: 190px;
//     }
//   }
// }
